footer
	margin-bottom 3rem
	.patreon
		display flex
		margin 0 auto
		align-items center
		border-top 1px solid #ccc
		padding-top 2rem
		justify-content flex-start
		flex-wrap wrap
		max-width 633px
		width 100%
		p
			max-width calc(100% - 300px)
			margin-right 2rem
			color #18604F
			margin-top 0px
		a
			background #18604F
			border-radius 3px
			padding 1rem
			color white
			font-weight 600
			max-width 20rem
			text-align center
			align-self flex-start
			margin-top 7px

	.recirc
		max-width 70rem
		margin 0 auto

	.recirc__hed
		text-align center
		text-transform uppercase
		border 1px solid $white
		letter-spacing 1px
		border-bottom none
		color $gray-dark
		width 20rem
		margin 0 auto
		margin-top 3rem
		font-size 14px
		//set-type-size(small)
		font-weight 600
		padding .5em
		&:first-of-type
			//background-color white//lighten(#18604F, 65)
			color darken(#18604F, 10)
		&:last-of-type
			//background-color lighten(#28115a, 70)
			color darken(#28115a, 10)

	.recirc__articles
		display flex
		flex-wrap wrap
		border 1px solid $white
		&:first-of-type
			//background-color white//lighten(#18604F, 65)
			a
				color darken(#18604F, 10)
				font-weight 400
				font-size 24px
				&:hover
					color #18604F
		&:last-of-type
			li
				background-color lighten(#28115a, 70)
				border-top 3px solid #28115a
			a
				color darken(#28115a, 10)
				&:hover
					color #28115a
		// align-items center

		li
			margin 0.5rem
			margin-top 0px
			width 100%
			padding 2rem 1rem
			border-top 3px solid #18604F
			background-color lighten(#18604F, 73)
			//border-bottom 3px solid #18604F

			+mq('bp-5')
				margin 1rem
				margin-right 0
				margin-top 0px
				width calc(33.33% - 1rem)
				border-right 1px solid $white

			&:last-of-type
				border-right none





		a
			set-type-size(large)
			border-bottom none
			font-weight 600


	.company__wrapper
		display flex
		flex-wrap nowrap
		justify-content center
		max-width 60rem
		margin 3rem auto
		font-weight 500
		.company__left, .company__right
			max-width 25em
			padding 0 1em
			p
				margin 0
				font-size 0.8em
		.company__right
			text-align center
			font-weight 500

			ul
				font-weight 400
				font-size .8em
				line-height 1.6
				list-style-type none
				font-weight 500

			li
				margin-right 1.5em
				float left
				font-size 12px
				font-weight 500
			a
				text-transform uppercase
				text-decoration none
				border-bottom none
				font-weight 500

			svg
				fill #000
				height 16px
				width 16px

	.company__trademark
		text-align center
