/* CUSTOM STORY STYLE */

.title
  width 600px
  text-align center
  margin 0 auto
  margin-bottom 4rem
  .top-line
    font-family $futura
    font-size 24px
    text-transform lowercase
    letter-spacing 1.5px
    margin 0 auto
    line-height 2.8
  .vs-line
    font-family $futura
    margin 0 auto
    width 415px
    position relative
    p
      font-size 36px
      text-transform lowercase
      line-height .4
      display inline-block
      padding 0 1rem
      background-color $backgroundColor
      z-index 100
      //margin-top -10px
      position relative
    &:before
        content ''
        width 100%
        height 2px
        background #BDBDBD
        position absolute
        left 0px
        top 50%
        transform translate(0,-50%)

  .rap-line
    font-family $futura
    margin 0 auto
    color #18604F
    font-size 110px
    text-transform capitalize
    line-height .9
  .dash-line
    font-family $futura
    margin 0 auto
    color #28115A
    font-size 85px
    line-height 1.1
  .confessional-line
    font-family $futura
    margin 0 auto
    font-size 48px
    color #28115A
    letter-spacing 7px
    text-transform uppercase
    line-height 1
    margin-top 0px
    z-index 1
    position relative
    span
      background-image url(assets/images/emo-face.png)
      background-size 40px
      background-position-y 3px
      margin-left -2px
      width 90px
      height 90px
      position relative
      background-repeat no-repeat
      z-index 1
      color rgba(0,0,0,0)



.first-section
  width 633px
  margin 0 auto
  position relative
  .byline
    width 150px
    position absolute
    top 3px
    left 0px
    transform translate(calc(-100% - 37px),0px)
    .author, .date-published
      font-size 12px
      text-transform uppercase
      letter-spacing .7px
      margin 0 auto
      font-weight 600
      color black
      font-family $atlas
      text-align right

    .date-published
      color #9E9E9E

.see-more
  display flex
  background-color #e8e8e9
  border-radius 3px
  width 120px
  padding 0px 12px
  padding-top 3px
  padding-left 4px
  justify-content center
  margin-top 30px
  cursor hand
  cursor pointer
  p
    margin 0
    pointer-events none
    font-family $atlas
    color #4a4a4a
    font-size 13px
    font-weight 500
    margin-left 5px
    line-height 24px
    user-select none
  div
    width 20px
    pointer-events none
    svg
      stroke #4a4a4a
      width 100%


.full-song
  //width 633px
  margin 0 auto
  margin-bottom 2rem
  padding-left 320px
  margin-top 0px
  display none
  .track-line
    line-height 1.7
    .track-word
      font-size 15px

.saddest-songs-wrapper
  width 100%
  overflow hidden
.saddest-songs
  display flex
  margin 0 auto
  align-items center
  flex-direction row
  height 530px
  width 500px
  flex-wrap wrap
  margin-top 2rem
  .saddest-song-track-div
    width 100%
    margin 0
    cursor hand
    cursor pointer
    position relative
    &:first-of-type
      .saddest-song-track
        &:before
          content 'Song Rank'
          position absolute
          font-weight 500
          transform translate(25px,-100%)
          text-align left
          width 70px
          font-size 12px
          color black
          color #666
        .saddest-song-track-percent
          &:after
            content 'Emo Words'
            position absolute
            font-weight 500
            transform translate(-100%,-100%)
            text-align right
            width 70px
            font-size 12px
            color #666
    .saddest-song-track
      margin 0
      font-family $atlas
      user-select none
      //background-color rgba(24,96,79,.1)
      margin-right 0rem
      font-weight 500
      font-size 15px
      color #18604F
      position relative
      border-bottom 1px solid #ccc
      .saddest-song-track-count
        font-family $atlas
        color #999
        user-select none
        font-weight 500
        font-size 13px
        width 20px
        margin-right 4px
        position relative
        display inline-block
        text-align right
      .saddest-song-track-title
        color #111
        font-size 15px
        user-select none
        font-family $atlas
        text-transform capitalize
        font-weight 400
      .saddest-song-track-percent
        color #666
        font-size 14px
        font-family $atlas
        text-transform capitalize
        font-weight 500
        user-select none
        position absolute
        line-height 28px
        right 0px
        top 0px
    .emo-top-song
      color #28115A
    .saddest-song-annotation
      position absolute
      display none
      right 0px
      transform translate(100%, 0px)
      //display block
      top 5px
      //display flex
      .saddest-song-line
        line-height 2
      .saddest-song-word
        font-size 12px
        margin-right 4px
      .sad-word
        background-color rgba(153,226,242,.41)
        color black
        font-weight 500
        padding 0 3px
      &:before
        position absolute
        content 'example lyrics'
        top 0px
        left 0px
        transform translate(20px,calc(-100% - 12px))
        font-size 11px
        font-family $atlas
        text-transform uppercase
        color #000
        width 100%
        text-align left
        font-weight 500
      .saddest-song-line
        margin 0px
        font-size 12px
        font-family $atlas
      svg
        width 20px
        height 20px
  .saddest-song-annotation-highlighted
    .saddest-song-annotation
      display flex



.chart-title
  font-size 30px
  font-family $futura
  text-align center
  margin-bottom 0px
  text-transform lowercase
.chart-title-sub
  margin 0 auto
  font-size 14px
  font-family $atlas
  text-align center
  font-weight 400
  margin-top -5px
.prose
  font-family $atlas
  font-size 16px
  font-weight 400
  color #111
  //width 633px
  padding 0px
  width 100%
  margin 0 auto
  margin-bottom 1.5rem

.prose-big
  font-size 18px

.big-word
  font-size 24px
  color black
  //font-weight 500
  background-color rgba(220, 220, 220, 0.31)
  padding 0 4px
  border-bottom 3px solid rgb(197, 197, 197)
.sad-word
  //background-color $lightBlue
  font-weight 400
  background-color rgba(81, 215, 255, 0.31)
  padding 0 4px
  border-bottom 3px solid rgba(69, 176, 208, 0.41)


body
  background $backgroundColor

header
  background $backgroundColor

.small-text
  font-size 12px

.track-line
  font-family $atlas
  line-height 1.7
  margin 0 auto
  .track-word
    margin-right 4px
    color rgba(0,0,0,.5)
    font-size 16px
  .big-word
    color black
    font-size 20px
    &:last-of-type
      margin 0px
.results
  display flex
  margin-top 30px
  font-family $atlas
  .break-down
    margin 0
    font-size 14px
    color black
    .sad-breakdown
      //color $sadBlue
      margin 0px
      //background $lightBlue
      font-weight 500
      //padding 0 3px
      background-color rgba(81, 215, 255, 0.31)
      padding 0 4px
      border-bottom 3px solid rgba(69, 176, 208, 0.41)
    .all-breakdown
      background-color rgba(220,220,220,0.31)
      padding 0 4px
      border-bottom 3px solid #c5c5c5
      font-weight 500
  .percent
    //color $sadBlue
    margin 0px
    font-weight 500
    font-size 16px
    margin-right 5px
    padding-right 5px
    border-right 3px solid #D2D2D2
    span
      //background $lightBlue
      //padding 2px 5px
      //margin-right 2px

.explanation
  //width 633px
  margin 0 auto
  margin-top 4rem
  position relative
  margin-bottom 5rem
  .left-col
    width 300px
    .prose
      width 100%
  .right-col
    position absolute
    left 320px
    font-family $atlas
    top 0px
    .track-name
      margin 0px
      font-size 14px
      span
        font-family $atlas
        margin 0
        color #333
        border-bottom 2px solid #bbbbbb
        padding-bottom 5px
    .track-content
      margin-top 20px
.song-quote
  font-family $atlas
  max-width 550px
  margin 0 auto
  margin-top 2rem
  display flex
  margin-bottom 2rem
  .audio-controls
    width 60px
    cursor hand
    cursor pointer
    background #ECECEC
    border-radius 5px
    padding 10px 0px
    height 60px
    margin-top 5px
    margin-right 20px
    .volume-on
      display block
    .volume-off
      display none
    &:hover
      background #bbb
    p
      text-transform capitalize
      pointer-events none
      font-family $atlas
      font-size 15px
      width 100%
      text-align center
      margin-top -10px
      //line-height 10px
    svg
      width 100%
      pointer-events none
      polygon
        fill black
  .playing
    .show-face
      .verse-face
        display inline-block
  audio
    width 250px
    margin-top 20px

  p
    margin 0
    font-size 18px
    transition color 1s
    .verse-face
      background-image url("assets/images/faces.png")
      margin 0 auto
      background-size cover
      position absolute
      width 30px
      height 30px
      background-position-x -243px
      margin-left 10px
      display none
    .highlight-span
      //background $lightBlue
      padding .05em 0
      font-weight 600
.emo-index-wrapper
  margin-top 50px
  .emo-index
    font-family 'Atlas Grotesk Web'
    position relative
    padding-bottom 100px
    .tool-tip
      background white
      box-shadow 2px 2px 10px rgba(0, 0, 0, 0.10)
      border-radius 3px
      width auto
      padding 7px
      position absolute
      top 0px
      left 0px
      z-index 1000
      display none
      .tool-tip-head
        font-size 14px
        font-weight 500
        margin-bottom 5px
        border-bottom 1px solid #ccc
        padding-bottom 3px
        span
          font-weight 400
      .tool-tip-track
        display flex
        font-size 12px
        .tool-tip-track-track
          color black
          font-size 12px
          font-weight 500
        .tool-tip-track-percent
          color #666
          font-weight 500
          margin-left 5px
          span
            font-size 10px
            color #666


    svg
      margin 0 auto
      display block
      overflow visible
    .face-div
      position absolute
      top 0px
      left 0px
      right 0px
      margin 0 auto
      pointer-events none
      .face-container
        .face-img
          background-image url(assets/images/faces.png)
          margin 0 auto
          background-size cover
          position relative
          .face-img-percent
            font-size 12px
            width 100px
            text-align center
            margin 0 auto
            margin-top 10px
            position absolute
            top 0px
            left 0px
            right 0px

    .axis-head-line
      stroke #D7D7D7
      shape-rendering crispEdges
    .axis-head
      font-size 21px
      font-family $futura
      text-transform uppercase
      .plus-sign
        fill #929292
        font-size 12px
        font-weight 600
      .other-genre
        font-size 14px
    .emo-head
      fill #28115A
    .hip-hop-head
      fill #18604F
    .axis-percent
      font-size 15px
      font-weight 600
      dominant-baseline hanging
      alignment-baseline hanging
      tspan
        &:first-of-type
          text-shadow 1px 1px 0px white, 1px 0px 0px white, 0px 1px 0px white, -1px 0px 0px white, 0px -1px 0px white, 0px 0px 0px white, -1px -1px 0px white, -1px 1px 0px white, 1px -1px 0px white
          letter-spacing -.4px
        &:last-of-type
          font-size 12px
          font-weight 300
    .axis-text
      font-size 11px
      font-weight 500
    .emo-band-hover-percent
      font-size 12px
      font-weight 500
      text-anchor middle
      fill #545454
      display none
    .rect-g
      rect
        pointer-events all
        cursor hand
        cursor pointer
        //visibility hidden
      .rap-rect
        fill rgba(24,96,79,.1)
      .emo-rect
        fill rgba(40,17,90,.1)
    .emo-index-axis
      fill #EDEDED
    .hip-hop-artist
      fill #18604F
    .emo-artist
      fill #28115A
    .emo-index-band
      pointer-events none
      .album-index
        font-size 13px
        font-family $futura
        fill #6b6b6b
        text-transform lowercase
        padding-left 10px
      .artist-index
        font-size 15px
        font-family $futura
        text-transform uppercase
        font-weight 500
        letter-spacing 0px
