<div class='intro'>
	<h1 class='intro__hed tk-canela'>{{meta.title}}</h1>
	<p class='intro__dek tk-atlas'>{{meta.description}}</p>
	<p class='intro__byline tk-atlas'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
	<p class="prose prose-big">Last month I was listening to Spotify’s Rap Caviar, a hip hop playlist that skews young helps me to stay in touch with what’s popular among the kids. When the top track, “Lucid Dreams” by 19 year-old Juice Wrld,  began to play, I was transported back to high school, feeling all the feels.
	</p>
	<div class="song-quote">
		<div class="audio-controls">
			@@include('volume-2.svg')
			<p>play</p>
		</div>
		<div class="verses">
			<p><span>I still see your shadows in my room</span></p>
			<p><span>Can&rsquo;t take back the love that I gave you</span></p>
			<p><span>It&rsquo;s to the point where I love and I hate you</span></p>
			<p><span>And I cannot change you, so I must replace you, oh</span></p>
			<p><span>Easier said than done, I thought you were the one</span></p>
			<p><span>Listenin&rsquo; to my heart instead of my head</span></p>
			<p><span>You found another one, but I am the better one</span></p>
			<p><span>I won't let you forget me</span></p>
		</div>
		<audio preload id="lucid-dreams">
			<source src="assets/audio/hook.mp3" type="audio/mpeg">
		</audio>
	</div>
	<p class="prose">If you’re old enough, this sounds like quintessential 2000s/2010s emo: <b>Dashboard Confessional</b> lyrics over a Metro Boomin’-type beat.
	</p>
	<p class="prose">It’s already been sub-genred as emo-rap, an emerging hip hop niche of the past few years that has now dominated charts with the success of XXXtentacion and Lil Uzi Vert. But listening to Juice Wrld’s lyrics, I’d argue it is <i>emo</i>—just as emotionally vulnerable and sad as Dashboard, the poster band of mid-2000s teenage angst.
	</p>
	<p class="prose">I began to wonder: <b>who has the saddest lyrics, emo-rappers or Dashboard Confessional?</b> Has Juice Wrld found a way to out-emo emo bands?
	</p>
	<div class="explanation">
		<div class="left-col">
			<p class="prose">We’ll replicate a clever method used to find Radiohead’s saddest track: take each song’s lyrics and calculate the percentage of words classified as <span class="sad-word">sad</span>.
			</p>
			<p class="prose">Here’s an example from Lil Uzi Vert’s “XO Tour Llif3”, where there are 13 words* in its morbidly depressing chorus, with 5 classified as <span class="sad-word">sad</span>. These bars are 38% sad, which—all things considered—is a high number.
			</p>
			<p class="prose small-text">*we remove common words that generally don’t evoke meaning, i.e., stop words
			</p>
		</div>
		<div class="right-col">


		</div>
	</div>
	<p class="prose prose-big">Now let’s look at how emo-rappers (and a few other non-sad hip-hop artists as benchmarks) stack up against Dashboard.
	</p>
	<div class="emo-index-wrapper">
		<p class="chart-title">Average of Album’s Track Lyrics that are Sad*
		</p>
		<div class="emo-index">
		</div>
	</div>

</div>
