<div class='intro'>

	<div class="title">
		<p class="top-line">Quantifying emotional lyrics in</p>
		<p class="rap-line">Emo-rap</p>
		<div class="vs-line"><p>vs.</p></div>

		<p class="dash-line">Dashboard</p>
		<p class="confessional-line">C<span>o</span>nfessional</p>
	</div>

	<div class="first-section">
		<div class="byline">
			<p class="author">Matt Daniels</p>
			<p class="date-published">Aug 30 2018</p>
		</div>
		<p class="prose prose-big">Last month I was listening to Spotify’s Rap Caviar, and for weeks the top track was “Lucid Dreams” by 19 year-old Juice Wrld. Unlike most hip hop, this track transported me back to high school, feeling my feelings.
		</p>
		<div class="song-quote">
			<button class="audio-controls">
				<div class="volume-on">
					@@include('volume-2.svg')
				</div>
				<div class="volume-off">
					@@include('volume-x.svg')
				</div>
				<p class="play-text">play</p>
			</button>
			<div class="verses">
				<p><span class="highlight-span">I still see your shadows in my room</span><span class="verse-face"></span></p>
				<p><span class="highlight-span">Can&rsquo;t take back the love that I gave you</span><span class="verse-face"></span></p>
				<p><span class="highlight-span">It&rsquo;s to the point where I love and I hate you</span><span class="verse-face"></span></p>
				<p><span class="highlight-span">And I cannot change you, so I must replace you, oh</span><span class="verse-face"></span></p>
				<p><span class="highlight-span">Easier said than done, I thought you were the one</span><span class="verse-face"></span></p>
				<p><span class="highlight-span">Listenin&rsquo; to my heart instead of my head</span><span class="verse-face"></span></p>
				<p><span class="highlight-span">You found another one, but I am the better one</span><span class="verse-face"></span></p>
				<p><span class="highlight-span">I won't let you forget me</span><span class="verse-face"></span></p>
			</div>
			<audio preload id="lucid-dreams">
				<source src="assets/audio/hook.mp3" type="audio/mpeg">
			</audio>
		</div>
		<p class="prose">If you’re old enough, this sounds like quintessential 2000s/2010s emo: <b>Dashboard Confessional's</b> <a href="http://www.rookiemag.com/2015/07/where-the-girls-arent/">sensitive heart</a>, but over a hip hop beat. Some call it emo-rap, an emerging hip hop sub-genre. But this song’s lyrics feel just as emotionally vulnerable as Dashboard, the poster band of mid-2000s teenage angst.
		</p>
		<p class="prose">I wondered: <b>who has the most emotionally vulnerable lyrics, emo-rappers or Dashboard Confessional?</b> Has Juice Wrld out-emo’d emo bands?
		</p>
		<div class="explanation">
			<div class="left-col">
				<p class="prose">I used the same calculation that identified <a href="http://www.rcharlie.com/post/fitter-happier/">Radiohead’s saddest track</a>: the percent of each songs’s words associated with an emotion of <span class="sad-word">sad</span> or <span class="sad-word">fear</span> (my proxy for “emo” lyrics).
				</p>
				<p class="prose">For example, here’s the chorus of Lil Uzi Vert’s “XO Tour Llif3.” <b>33%</b> of the words are in the sad/fear list, which all things considered is pretty emo-rich.
				</p>
				<p class="prose small-text">*we remove common words that generally don’t evoke meaning, i.e., stop words
				</p>
			</div>
			<div class="right-col">
			</div>
		</div>
		<div class="full-song">
		</div>
		<p class="prose prose-big">Now let’s look at how emo-rappers stack up against Dashboard (as well as some  non-sad hip hop for good measure).
		</p>
	</div>
	<div class="emo-index-wrapper">
		<p class="chart-title">Average of Album’s Track Lyrics that are EMO*
		</p>
		<p class="chart-title-sub">*emo words = lyrics strongly associated with the emotion sadness and fear.</p>
		<div class="emo-index">
		</div>
	</div>
	<div class="first-section">
		<p class="prose">My Chemical Romance’s <i>The Black Parade</i> comes out on top, but Juice Wrld’s <i>Goodbye & Good Riddance</i> and XXXtentacion’s <i>?</i> fall closely behind. For what it’s worth, both emo-rap albums are far ahead of Dashboard, Fall Out Boy, and Jimmy Eat World.
		</p>
		<p class="prose">As expected, artists such as Lil Pump and Migos appear lower on our emo index, which means the data is roughly measuring what it’s supposed to.
		</p>
		<p class="prose">We’ve also charted three of Kanye’s albums, from least to most emo: <i>The College Dropout</i>, <i>808s and the Heartbreaks</i>, and <i>Ye</i> (Kanye’s most emo album according to the data).
		</p>
		<p class="prose">Finally, let’s use our emo data to also rank each artist’s tracks:
		</p>
	</div>

	<div class="saddest-songs-wrapper">
		<p class="chart-title">songs, ranked by emo* words
		</p>
		<p class="chart-title-sub">*emo words = lyrics strongly associated with the emotion sadness and fear.</p>
		<div class="saddest-songs">
		</div>
	</div>
	<div class="first-section">
		<p class="prose">There are plenty of sad, depressing songs that should be on this list but might be excluded due to subtext. For example “Cancer” by My Chemical Romance is off-the-scale sad, but since we’re measuring emotion via word-use, we can’t capture this song’s undertone.
		</p>
		<p class="prose">“Pain” by XXXTentacion is interesting as the top song. It already seems out of place on a hip hop album and could comfortably belong in any emo band’s oeuvre: the song is a minute and half in length, the lyrics are basically 6 lines, and, most appropriately, Travis Barker (of Blink-182) is on drums accompanying a live, guitar-filled instrumentation.
		</p>
		<div class="song-preview-wrapper">
			<iframe src="https://open.spotify.com/embed/track/4zI04ezdmrN0lT2pHykYrd" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
		</div>
		<p class="prose">
		</p>
	</div>
	<div class="recirculation">

	</div>


</div>
